WebApp
{
  Theme = tabs
  # DevelopMode = True
  Schema
  {
    Tools{
     Proxy Upload = DIRAC.ProxyUpload
     Job Launchpad = DIRAC.JobLaunchpad
     Notepad = DIRAC.Notepad
    }
    Applications
    {
      Accounting = LHCbDIRAC.Accounting
      Transformation Monitor = LHCbDIRAC.LHCbTransformationMonitor
      Bookkeeping Browser = LHCbDIRAC.BookkeepingBrowser
      BookkeepingSimDescription = LHCbDIRAC.BookkeepingSimDescription
      RAW Integrity Monitor = LHCbDIRAC.RAWIntegrityMonitor
      Step Manager = LHCbDIRAC.LHCbStepManager
      Production Request = LHCbDIRAC.ProductionRequestManager
    }
    DIRAC = link|http://diracgrid.org
  }
  Dependencies
  {
     LHCbDIRAC.Accounting = DIRAC.Accounting
     LHCbDIRAC.LHCbTransformationMonitor = DIRAC.TransformationMonitor
  }
}
