[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[project]
name = "pixelmemory"
version = "0.1.0"
description = "Multimodal Memory for AI Agents and MCP."
license = "Apache-2.0"
readme = "README.md"
requires-python = ">=3.9,<4.0"
authors = [{ name = "Pixeltable, Inc.", email = "contact@pixeltable.com>" }]
keywords = [
    "data-science", "machine-learning", "database", "ai", "computer-vision",
    "chatbot", "ml", "artificial-intelligence", "feature-engineering", "multimodal",
    "mlops", "feature-store", "vector-database", "llm", "genai"
]
classifiers = [
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: MacOS",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Topic :: Database",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
    "Topic :: Software Development :: Libraries :: Python Modules",
]
dependencies = [
    "pixeltable (>=0.3.8)"
]

[project.urls]
homepage = "https://pixeltable.com/"
repository = "https://github.com/pixeltable/pixelmemory"
documentation = "https://docs.pixeltable.com/docs/libraries/pixelmemory"


[tool.poetry]
requires-poetry = ">=2.0"

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
# pytest-related
pytest = "^7.2.1"
pytest-xdist = { extras = ["psutil"], version = "^3.3.1" }
pytest-rerunfailures = "^14.0.0"
coverage = "^7.4"
# type checking
mypy = "^1.13.0"
# linting
ruff = "^0.9.7"
# mkdocs-related
mkdocs = "^1.6.0"
mkdocs-material = "^9.5.23"
mkdocstrings-python = "^1.10.2"
black = ">=24.4"  # Needed for mkdocs
