[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "phenotyping-segmentation"
version = "0.1.1"
description = "A segmentation pipeline for phenotyping"
authors = [
    { name="Lin Wang", email="wanglin9926@gmail.com" }
]
readme = "README.md"
license = { file = "LICENSE" }
requires-python = ">=3.8"
dependencies = [
    "numpy",
    "scipy",
    "opencv-python",
    "torch",
    "segmentation-models-pytorch"
]

[tool.setuptools.packages.find]
where = ["."]
