[project]
name = "mseep-mcp-server-duckdb"
version = "1.1.2"
description = "A DuckDB MCP server"
readme = "README.md"
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Programming Language :: Python :: 3.14",
]
requires-python = ">=3.10"
dependencies = [
    "duckdb>=1.1.3",
    "mcp>=1.0.0",
]
authors = [
    { name = "mseep", email = "support@skydeck.ai" },
]
maintainers = [
    { name = "mseep", email = "support@skydeck.ai" },
]

[project.license]
file = "LICENSE"

[project.scripts]
mcp-server-duckdb = "mcp_server_duckdb:main"

[build-system]
requires = [
    "hatchling",
]
build-backend = "hatchling.build"

[tool.ruff]
line-length = 120

[tool.ruff.format]
docstring-code-format = true

[tool.ruff.lint]
select = [
    "E",
    "F",
    "I",
]

[tool.hatch.build.targets]

[dependency-groups]
dev = [
    "pytest>=8.3.4",
]
