[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "baresquare-aws-py"
version = "0.1.6"
license = "MIT"
description = "Baresquare's AWS Python utilities"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "baresquare-core-py>=0.1.6",
    "boto3>=1.28.0"
]

[project.optional-dependencies]
linting = [
    'ruff==0.11.9',
]
testing = [
    "pytest==8.3.5",
]

[tool.pyright]
extraPaths = ["__pypackages__/<major.minor>/lib/"]

[tool.hatch.version]
path = "src/baresquare_aws_py/__init__.py"

[tool.hatch.build]
packages = ["baresquare_aws_py"]
package-dir = {"" = "src"}
package-data = {"baresquare_aws_py" = ["py.typed"]}

[tool.hatch.build.targets.wheel.shared-data]
"src/baresquare_aws_py" = "baresquare_aws_py"

[tool.pytest.ini_options]
pythonpath = "src"
testpaths = ["tests"]
markers = [
    "slow: marks tests as slow (deselect with '-m \"not slow\"')",
    "asyncio : marks tests as asyncio (deselect with '-m \"not asyncio\"')",
]

[tool.ruff]
src = ["."]
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "venv",
]

output-format = "grouped"
line-length = 120

[tool.ruff.lint]
# List of rules https://docs.astral.sh/ruff/rules/
select = [
    # "B",     # bugbear
    "E112",  # no-indented-block
    "E2",    # Whitespace problems (missing or unexpected)
    "E402",  # module-import-not-at-top-of-file
    "E71",   # Comparison errors
    "E721",  # type-comparison
    "E722",  # bare-except
    "E9",
    "I001",  # unsorted-imports
    "W291",  # trailing-whitespace
    "W292",  # missing-newline-at-end-of-file
    "W293",  # blank-line-with-whitespace
    #"UP",    # pyupgrade
    # "PT",    # flake8-pytest-style
    # "G",     # flake8-logging-format
    "D201",  # no-blank-line-before-function
    "D202",  # no-blank-line-after-function
    "D212",  # multi-line-summary-first-line
    "D400",  # ends-in-period
    "D401",  # non-imperative-mood
    "ASYNC", # flake8-async
    "COM",   # flake8-commas
    # "T20",   # flake8-print
    "RET",   # flake8-return  # use for warning
    "SIM",   # flake8-simplify
    # "ARG",   # flake8-unused-arguments  # use for warning / improvements
    # "PL",    # pylint
    # "F821",  # undefined-name
    "F401",  # unused-import
    "F841",  # unused-variable
    "ARG001",  # unused-function-argument
]

ignore = [
    "UP015",   # redundant-open-modes
    "E501",    # line-too-long
    "SIM112",  # uncapitalized-environment-variables
    "RET503",  # implicit-return
    "D407",    # dashed-underline-after-section
    "SIM113",  # enumerate-for-loop
    "SIM108",  # if-else-block-instead-of-if-exp
    "SIM110",  # reimplemented-builtin
    "COM812",  # missing-trailing-comma (may cause conflicts with autoformatter)
]

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
docstring-code-format = true
docstring-code-line-length = "dynamic"
exclude = []
line-ending = "lf"
preview = false
skip-magic-trailing-comma = false