Versions
{

  Next Release
  {
  }

  Next Patch (from branch v4r0)
  {
     #NEW: Job summary application is implemented
     WebApp = wa_2016020401
  }

  trunk
  {
    Web = trunk
    WebApp = trunk
  }

  v4r1p10
  {
    #BUGFIX: Concert the coma separated file types to list
    #BUGFIX: Allow to select multiple input files.
    WebApp = wa_2015113001
    Web = we_2015061201
  }

  v4r1p9
  {
    #BUGFIX: Correctly handle the templates
    #BUGFIX: When a new request created using predefined models, then the windows must be destroyed.
    WebApp = wa_2015110201
    Web = we_2015061201
  }

  v4r1p8
  {
    #BUGFIX: add the missing values to the data store.
    WebApp = wa_2015102601
    Web = we_2015061201
  }

  v4r1p7
  {
    #BUGFIX: Allow to select jobs for a given run(s)
    WebApp = wa_2015093001
    Web = we_2015061201
  }

  v4r1p6
  {
    #BUGFIX: The MC production requests which are models must be able to view...
    #NEW: Bulk operations are implemented
    #CHANGE: Make sure that all changes are tagged.
    WebApp = wa_2015092501
    Web = we_2015061201
  }

  v4r1p5
  {
    #NEW: PR page has improved...
    WebApp = wa_2015081701
    Web = we_2015061201
  }

  v4r1p4
  {
    #NEW: Hot production flag added to the Transformation monitor.
    #NEW: Production management bulk submission
    #CHANGE: Working group only selectable
    #CHANGE: improve the processing pass search
    WebApp = wa_2015072801
    Web = we_2015061201
  }

  v4r1p3
  {
    #NEW: change the working group to selectable...
    #CHANGE: improve the accounting
    WebApp = wa_2015072301
    Web = we_2015061201
  }

  v4r1p2
  {
    #CHANGE : Allow multiple select
    #BUGFIX: make the production workflow window re-sizable and fix the script generation.
    WebApp = wa_2015070901
    Web = we_2015061201
  }

  v4r1p1
  {
    #NEW: Added missing functionalities: open the Production request page from the Transformation monitor, etc
    WebApp = wa_2015062501
    Web = we_2015061201
  }

  v4r1
  {
    #NEW: Production request page has implemented...
    WebApp = wa_2015062402
    Web = we_2015061201
  }

  v4r0p13
  {
    #BUGFIX: Fix the job monitor page...
    WebApp = wa_2015060101
    Web = we_2015061201
  }

  v4r0p12
  {
    WebApp = wa_2015043001
    #CHANGE: Allow to duplicate request which contains obsolete steps.
    Web = we_2015061201
  }

  v4r0p11
  {
    #BUGFIX: correct the grid panel name
    WebApp = wa_2015043001
    Web = we_2014101501
  }

  v4r0p10
  {
    #BUGFIX: fix the javascript compiler
    WebApp = wa_2015042801
    Web = we_2014101501
  }

  v4r0p9
  {
    #NEW: StepManager page is implemented.
    #CHANGE: The timeout of accounting is increased
    WebApp = wa_2015041701
    Web = we_2014101501
  }

  v4r0p8
  {
    #BUGFIX: The plot title is corrected.
    #CHANGE: Does not created a new plot when no plot has selected.
    WebApp = wa_2015031701
    Web = we_2014101501
  }

  v4r0p7
  {
    # NEW: Event type description added to the event type.
    WebApp = wa_2015021001
    Web = we_2014101501
  }

  v4r0p6
  {
    #BUGFIX: The plot size of the plot in the Accounting fixed.
    WebApp = wa_2015012301
    Web = we_2014101501
  }

  v4r0p5
  {
    WebApp = wa_2015011401
    Web = we_2014101501
  }

  v4r0p4
  {
    #BUGFIXES: When the Accounting application is not loaded do not show the loading box.
    #CHANGE: Use the plot creation time when we want to see the plot in full size...
    WebApp = wa_2015011401
    Web = we_2014101501
  }

  v4r0p3
  {
    #NEW: RAWIntegrity monitor page is implemented...
    #BUGFIX: Allow sorting in the run status panel.
    WebApp = wa_2014120501
    Web = we_2014101501
  }

  v4r0p2
  {
    #BUGFIX: Check the existence of the saved bookkeeping path.
    #BUGFIX: Only keep the extension in the static directory.
    WebApp = wa_2014111901
    Web = we_2014101501
  }

  v4r0p1
  {
    # first first version with WebApp
    WebApp = wa_2014101601
    Web = we_2014101501
  }

  v4r0
  {
    # first first version with WebApp
    WebApp = wa_20140805
    Web = we_2014071801
  }
  v3r6p6
  {
    #CHANGE: The timeout of the presenter page had increased.
    #CHANGE: http changed to https
    Web = we_2014071801
  }

  v3r6p5
  {
    #BUGFIX: If the application status is None, we do not add to the page.
    Web = we_2014060201
  }

  v3r6p4
  {
    #CHANGE: Allow to use the Request Manager from the new portal.
    Web = we_2014051401
  }

  v3r6p3
  {
    #CHANGE: Improvement of the production request page.
    Web = we_2014042801
  }

  v3r6p2
  {
    #CHANGE: http protocol replaced to https in the JobMonitor
    Web = we_2014040201
  }

  v3r6p1
  {
    #BUGFIX: add "self" to the delivered class
    Web = we_2014031301
  }

  v3r6
  {
    #CHANGE: Adapting to new methods of LHCb TransformationManager
    Web = we_2014031101
  }

  v3r5p5
  {
    #BUGFIX: Use the correct methods for getting the job parameters.
    #BUGFIX: Use the correct jobMonitor page.
    Web = we_2014022002
  }

  v3r5p4
  {
    #BUGFIX: JobMonitor changes has included.
    #CHANGE: Request Management system used when a user wants to know the pending requests from the JobMonitor page.
    Web = we_2014021201
  }

  v3r5p3
  {
    #BUGFIX:The URL changed in the Production request page in order to show the correct (LHCb) Transformation monitor page.
    Web = we_2014020401
  }

  v3r5p2
  {
    #CHANGE: The colour of the Idle status icon has changed.
    Web = we_2014012301
  }

  v3r5p1
  {
    #CHANGE: The showJobs is taking into account the total created jobs.
    Web = we_2014012001
  }

  v3r5
  {
    #NEW: A new column added to the transformation monitor page
    #CHANGE: Idle status added to the default selection of the Transformation monitor page.
    Web = we_2014011501
  }

  v3r4p1
  {
    #NEW: include all new developments.
    Web = we_2013121701
  }

  v3r4
  {
    #CHANGE: mTCK cahnged to mcTCK
    Web = we_2013120502
  }

  v3r3p9
  {
    #BUGFIX: New tag...
    Web = we_2013121301
  }

  v3r3p8
  {
    #BUGFIX: Systemconfig added to the predefined filed list
    Web = we_2013121201
  }

  v3r3p7
  {
    #NEW: TCK added to the step page.
    Web = we_2013120501
  }

  v3r3p6
  {
    # NEW: SystemConfig added to the request management system.
    # CHANGE: The maximum number of steps which can be added to the request is increased to 20.
    Web = we_2013112601
  }

  v3r3p5
  {
    # NEW: SpaceToken plotter ( accounting )
    # NEW: SpaceToken and Downtimes views as anonymous
    Web = we_2013090901
  }

  v3r3p4
  {
    #CHANGE: Files MaxReset added to the transformation monitor page.
    Web = we_2013090401
  }

  v3r3p3
  {
    #BUGFIX: IsMulticore added to the field list as well to the record object!
    #NEW: added refresh to RSS web pages
    Web = we_2013090201
  }

  v3r3p2
  {
    #NEW: SystemAdministrator, RSS collapsible summaries
    Web = we_2013082201
  }

  v3r3p1
  {
    #CHANGE: Include the new development of the Production Request page.
    Web = we_2013071001
  }

  v3r3
  {
    #NEW: New flag added to the pages and controllers.
    #CHANGE: SiteSummary, ResourceSummary,SiteStatus pages are available to anonymous users.
    Web = we_2013070901
  }

  v3r2p8
  {
    #FIX: SpaceTokenOccupancy ( wrong copy / paste )
    Web = we_2013062401
  }

  v3r2p7
  {
    #FIX: SpaceTokenOccupancy view
    Web = we_2013062001
  }

  v3r2p6
  {
    #NEW: Scroll bar added to the JobGroup
    #NEW: The pilot log information is available from the JobMonitor page under the Pilot menu.
    #CHANGE: The Edit window of the  Presenter page changed, because when the size of the browser had changed the Editor could not be closed.
    #CHANGE: The productions sorted in decreasing order.
    #BUGFIX: When a plot edited then it is possible to unselect an already selected condition.
    #FIX: set tokens and status from web
    Web = we_2013053101
  }

  v3r2p5
  {
    #FIX: ported from trunk timeline display ( RSS views )
    Web = we_2013052701
  }

  v3r2p4
  {
    #NEW: RSS downtimes view
    Web = we_2013051401
  }

  v3r2p3
  {
    #FIX: cached info panel
    Web = we_2013050801
  }

  v3r2p2
  {
    #NEW: RSS overview view
    Web = we_2013050201
  }

  v3r2p1
  {
    #NEW: RSS pages are improved
    #NEW: Simulation condition page is implemented, which is used to manage the simulation conditions (insert, update, delete, list)
    Web = we_2013041801
  }

  v3r2
  {
    #NEW: RSS stable web pages
    Web = we_2013041501
  }

  v3r1
  {
    #NEW: RSS improvement
    Web = we_2013040901
  }

  v3r0p2
  {
    # NEW: Allow to use the old DIRAC logo.
    # CHANGE: the color of the completed box is changed to violet.
    Web = we_2013030101
  }

  v3r0p1
  {
    Web = we_2013022701
  }

  v3r0
  {
    # NEW: RSS pages added to the portal.
    # NEW: The status such failed Killed, etc, of the jobs made available in the Transformation Monitor page
    # NEW: a new menu item under under Sites in JobMonitor page which shows the T2 sites grouped by T1.
    # BUGFIX:The refresh did not occurred when the presenter used by Anonymous user.
    Web = we_2013022101
  }

  v2r5p11
  {
    # BUGFIX: menu items of the presenter page finally sorted
    Web = we_2013022001
  }

  v2r5p10
  {
    # NEW: The menu items of the presenter page are sorted.
    # BUGFIX: The history of the opened page fixed.
    Web = we_2013021901
  }

  v2r5p9
  {
    #NEW:The state of the Transformation Monitor page is saved to the Cookie.
    #CHANGE: Timeout added to the refresh button of the Transformation Monitor page
    Web = we_2013020801
  }

  v2r5p8
  {
    #BUGFIX: set timeout to the submit button of the Transformation Monitor page.
    Web = we_2013020601
  }

  v2r5p7
  {
    #BUGFIX: The timeout of the Transformation Monitir page is increased to 160second.
    Web = we_2013020501
  }

  v2r5p6
  {
    #BUGFIX: When the user is Anonymous then the presenter page must use the host name instead of Anonymous.
    Web = we_2013020401
  }

  v2r5p5
  {
    # BUGFIX: Move JobMonitor from DIRAC to LHCBWebDIRAC
    Web = we_2013012302
  }

  v2r5p4
  {
    # BUGFIX: The missing methods added to LHCbWeb in order to fix the production detail functionality.
    Web = we_2013012301
  }

  v2r5p3
  {
    # BUGFIX: timeout parameter added to the transformation monitor page.
    # BUGFIX: The refresh of the presenter page did not worked properly when the group was not defined.
    Web = we_2013012201
  }

  v2r5p2
  {
    # BUGFIX:The refresh did not occurred when the presenter used by Anonymous user.
    Web = we_2013011401
  }

  v2r5p1
  {
    # NEW: Implemented tasks #32704 and #32788
    Web = we_2012121801
  }

  v2r5
  {
    #CHANGE: A new release prepared which exclude the functionalities which can not be used due to the DIRAC release (DIRAC does not contains the pull request..)
    Web = we_2012112602
  }

  v2r4p17
  {
    # CHANGE: add line Queue Infosite to web.cfg.
    Web = we_2012112201
  }

  v2r4p16
  {
    # CHANGE: add line to web.cfg.
    Web = we_2012111401
  }

  v2r4p15
  {
    # BUGFIX: The URLs can not decoded because the value of time stamp were boolean.
    # CHANGE: The Menu of the presenter is changed.
    Web = we_2012110602
  }

  v2r4p14
  {
    #CHANGE: Removed need of setting the ApplicationName and ApplicationVersion in Steps
    Web = we_2012102401
  }

  v2r4p13
  {
    #CHANGE: The D&D has changed in order to move the plots around the presenter page.
    Web = we_2012100801
  }

  v2r4p12
  {
    #BUGFIX: Adding the context menu into the plots.
    Web = we_2012100501
  }

  v2r4p10
  {
    # NEW: The Drag and drop is implemented. The plots can be moved in the presenter page.
    Web = we_2012100401
  }

  v2r4p9
  {
    #BUGFIX: Presenter page and production monitoring page fixed.
    Web = we_2012092701
  }

  v2r4p8
  {
    # BUGFIX: The method overwriting is not supported by Chrome.
    # BUGFIX: We must use the LHCb Production Monitoring page.
    Web = we_2012092604
  }

  v2r4p7
  {
    #NEW: Edit, share plots, plot detail functionalities have implemented.
    Web = we_2012092601
  }

  v2r4p6
  {
    #NEW: Edit, share plots, plot detail functionalities have implemented.
    Web = we_2012092503
  }

  v2r4p5
  {
    #NEW: Edit, share plots, plot detail functionalities have implemented.
    Web = we_2012092502
  }

  v2r4p4
  {
    #NEW: Edit, share plots, plot detail functionalities have implemented.
    Web = we_2012092501
  }

  v2r4p3
  {
    #CHANGE: Production/ProductionManagement changed to Transformation/TransformationManagement
    #NEW: Data popularity accounting web page implemented.
    Web = we_2012073101
  }

  v2r4p2
  {
    #CHANGE: authorization has been fixed.
    Web = we_2012062901
  }

  v2r4p1
  {
    #CHANGE: add CVMFS map
    Web = we_2012062101
  }

  v2r4
  {
    #CHANGE: add jobmonitory code
    Web = we_2012061501
  }

  v2r3
  {
    #CHANGE: add one URL in web.cfg
    #CHANGE: add ONLINE for ProductionStep.py.
    Web = we_2012041801
  }

  v2r2
  {
    #NEW: The users can select a list of data quality flag using the production request page.
    Web = we_2012041101
  }

  v2r1
  {
    #NEW: The users can select a list of data quality flag using the production request page.
    Web = we_2012040301
  }

  v2r0
  {
    #BUGFIX: The users were not able to save files when they did not used the standard query types.
    #NEW: Two new attribute added to the step manager page.
    #NEW: Paging mechanism has been implemented for the step manager page.
    #NEW: Filtering implemented for the step manager page.
    #NEW: Production request page changed. We can define a request when the file types not match.
    #NEW: Step based accounting web page has been implemented.
    Web = we_2012032302
  }

  v1r13
  {
    # CHANGE : NewBookkeeping in Bookkeeping
    Web = we_2012022901
  }

  v1r12p2
  {
    # CHANGE : Productionrequest for MC11
    Web = we_2012022401
  }

  v1r12p1
  {
    # Change SLS reference
    Web = we_2012022001
  }

  v1r12
  {
    # FIX ADd TcK
    Web = we_2012012001
  }

  v1r11p4
  {
    # FIX ADd TcK
    Web = we_2011122001
  }

  v1r11p3
  {
    # FIX ADd TcK
    Web = we_2011120601
  }

  v1r11p2
  {
    # FIX: web.cfg
    # FIX RUNDB monitoring
    Web = we_2011120201
  }

  v1r11p1
  {
    # FIX: web.cfg
    #  FIX Production monitoring
    Web = we_2011112901
  }

  v1r11
  {
    # FIX: web.cfg
    Web = we_2011112501
  }

  v1r10p1
  {
    # FIX: web.cfg
    Web = we_2011110701
  }

  v1r10
  {
    # CHANGE: One more options in the steps for WG productions
    Web = we_2011110401
  }

  v1r9p1
  {
    # CHANGE: add a line for Statistics
    Web = we_2011091901
  }

  v1r9
  {
    # NEW: Add G4Settings.
    Web = we_2011091501
  }

  v1r8
  {
    # NEW: The TCK added to the bkk table view. It can be selected by the users.
    # NEW: A new panel implemented which allows to select different data quality flags.
    # NEW: The data quality added to the Bookkeeping Table. It can be selected and sorted as well.
    # BUGFIX: The run lookup didn't allow to see the files.
    Web = we_2011090501
  }

  v1r7
  {
    # BUGFIX: The production and run lookup fixed.
    Web = we_2011071901
  }

  v1r6
  {
   # NEW: config for DataStoragePlotPage
    Web = we_2011062301
  }

  v1r5
  {
    # NEW: js to plot the accounting plots of the DataStorage
    # NEW: mako for the DataStoragePlotPage
    Web = we_2011052701
  }

  v1r4
  {
    # NEW: Processing Step extened with Processing Pass field
    # NEW: Step filter has more fields
    # CHANGE: Processing Step 'Usable' field 3-stated
    # BUGFIX: Preoduction Requests refresh button works correctly with filters

    Web = we_2011032401
  }

  v1r3
  {

    # NEW: Production Request page updated for the new by step procedure
    # NEW: Updates in the Bookkeeping page
    # NEW: Added Production top level menu
    # NEW: 'magnetCurrent', 'magnetState' and 'integratedLumi' in RunDBMonitor
    # BUGFIX: Global and selected statistics in RAWIntegrityMonitor
    # BUGFIX: New link for space token external website

    Web = we_2011030101
  }

  v1r2-pre6
  {

    # NEW: Production Request page updated for the new by step procedure
    # NEW: Updates in the Bookkeeping page
    # NEW: Added Production top level menu
    # NEW: 'magnetCurrent', 'magnetState' and 'integratedLumi' in RunDBMonitor
    # BUGFIX: Global and selected statistics in RAWIntegrityMonitor
    # BUGFIX: New link for space token external website

    Web = we_2011030101
  }

  v1r2-pre5
  {

    # NEW: Production Request page updated for the new by step procedure
    # NEW: Updates in the Bookkeeping page
    # NEW: Added Production top level menu
    # NEW: 'magnetCurrent', 'magnetState' and 'integratedLumi' in RunDBMonitor
    # BUGFIX: Global and selected statistics in RAWIntegrityMonitor

    Web = we_2011021901
  }

  v1r2-pre4
  {

    # NEW: Production Request page updated for the new by step procedure
    # NEW: Updates in the Bookkeeping page
    # NEW: Added Production top level menu
    Web = we_2011021901
  }

  v1r2-pre3
  {

    # NEW: Production Request page updated for the new by step procedure
    # NEW: Updates in the Bookkeeping page
    # NEW: Added Production top level menu
    Web = we_2011021702
  }

  v1r2-pre2
  {

    # NEW: Production Request page updated for the new by step procedure
    # NEW: Updates in the Bookkeeping page
    Web = we_2011021701
  }

  v1r2-pre1
  {

    # NEW: BK webpage have to use new BK schema
    # NEW: Step based BK and production request system
    # NEW: Production Request tests support
    # CHANGE: ProcessingType -> ProcessingPass for LHCb accounting
    Web = we_2011011301
  }

  v1r1
  {

    # BUGFIX: Presenter.js - the links for images with ampersand can be loaded now
    # FIX: Presenter.js - add dummy parameter to image src which force browser to reload an image
    Web = we_2010092301
  }

  v1r0
  {

    # NEW: First separate release of the LHCbWeb extension
    # NEW: Separation of LHCb and Core Web code is done
    # NEW: Presenter web page
    # NEW: RunDB monitor page
    # NEW: BK web page is completely rewritten
    Web = we_2010061602
  }
}
packageExtraFiles = __init__.py, versions.cfg
fileVersion = $Id: $
